*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    
}
body{
    background: url(img/background\ 1.png);
    color: #FFFFFF;
    background-repeat: no-repeat;
    width: 100%;
    /* background-origin: 50px 50px ; */
    background-size: cover;
    
    
}

.header{
    padding-top: 44px;
    padding-bottom: 16px;
    width: 100%;
    /* height: 61px; */
    
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 1028px;
    margin: 0 auto;

}


.logo_container{
    display: flex;
    /* padding-left: 161px */
}

.logo_container:hover .title p a {
    color: #F26522;
}
.img_logo {
    margin-right: 8px; 
    background: url('img/logo 3.png'); 
        background-repeat: no-repeat;
    width: 53px;
    height: 47px;
    z-index: 0;
    display: block;
    border: 0px;   
}
.img_logo a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.logo_container:hover .img_logo {
    background: url('img/logo\ 2.svg');
    z-index: 5;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.title a{
    font-weight: 700;
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
}

.logo_title a{
    height: 30px;
   font-size: 29px; 
   text-decoration: none;
    line-height: 32px;
    color: inherit;
    
}
.logo_subtitle a{
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    
}

.right_column {
display: flex;
flex-direction: column;
align-items: end;
justify-content: space-between;
height: 60px;

}
 
.email{
/* padding-top: 46px; */
text-decoration: none;
color: #FFFFFF;
font-family: Roboto, sans-serif;

}     

.phone{

font-family: Roboto, sans-serif;
text-decoration: none;
color: #FFFFFF;
}
.email:hover {
    color: #F26522;
}
.phone:hover {
    color: #F26522;
}


.section{
    width: 100%;
    height: 596px;

}
.grid-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 220px 220px;
    row-gap: 78px;
    column-gap: 61px;
    /* padding-top: 124px; */
    /* padding-right: 178px; */
    margin: 0 auto;
    width: 1028px;
    
} 
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}




.image-container:hover .image_toner {
    display: flex;


}


.image-container .image_toner a {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}
.image-container .image-title {
    display: inline-block;
    width: 100%;
    height: 100%;

}
.image-title a {
    width: inherit;
    height: inherit;
    color: #FFFFFF;
    text-decoration: none;
}
.image-container:hover .image-title a {
    color: #F26522;
}



.image{
    background-size: cover;
    /* width: 100%;
    height: 100%; */
    display: block;
}
.image-title{
    text-align: center;
    padding: 20px 0 37px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    font-size: 18px;

}

.footer .container {
    justify-content: center;
}
.information {    
    font-weight: 400;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

/* hovers */

.header>.container:hover .logo img {
    background: url('img/logo\ 2.svg');
    z-index: 5;
}

.image_toner {
    background-color: #F26522;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 56px;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 12px;
}
.card_price p, .card_price h5, .card_details p {
    color: #FFFFFF;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}

.card_price p {
    font-size: 10px;
    margin-bottom: 8px;
} 
.card_price h5 {
    font-size: 20px;
} 
.card_details p {
    font-size: 14px;
    margin-right: 16px;
}

.card_details p::after{
    content: "View Details  >"
}
.card_details .arrow::after {
display: block;
}
.card_details {
    display: flex;
    padding-top: 22px;
    height: 36;
}
.arrow { 
    background: url('img/Vector1.svg');
    width: 8px;
    height: 12px;
    background-repeat: no-repeat;
    display: none;
}
